<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Вакансии</title>
</head>
<body>
<table width="100%">
    <tr>
        <th>Title</th>
        <th>City</th>
        <th>Company Name</th>
        <th>Salary</th>
    </tr>      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/27195211?query=java">Разработчик Java</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">ООО ЛАЦИТ - Лаборатория цифровых технологий</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/27168779?query=java">Ведущий разработчик Java</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">ООО ЛАЦИТ - Лаборатория цифровых технологий</td>
        <td class="salary">от 4 000 бел. руб.</td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28518794?query=java">Java Developer (Vitebsk)</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">iTechArt Group</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28518738?query=java">Java Team Lead (Vitebsk)</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">iTechArt Group</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://career.ru/vacancy/28977445?query=java">Стажёр Java Developer</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">ООО ИТС Партнёр</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28518762?query=java">QA Engineer (Vitebsk)</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">iTechArt Group</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/25730047?query=java">Java Developer</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">ООО ИТС Партнёр</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28912123?query=java">Senior\Middle Java/Hybris программист</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">SaM Solutions Самсолюшнс</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28425343?query=java">Backend (Java) Developer</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">ООО ИТС Партнёр</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28863750?query=java">Java Developer (Vitebsk)</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">Mainsoft</td>
        <td class="salary">от 1 000 USD</td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28923368?query=java">Developer in Test</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">ООО ИТС Партнёр</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/27356285?query=java">Mobile Developer (Vitebsk)</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">iTechArt Group</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28897127?query=java">Backend Developer</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">ООО ИТС Партнёр</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28233786?query=java">Senior Java Engineer</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">Exadel</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28739911?query=java">Senior Full-stack Developer</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">Exadel</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28796688?query=java">Android-разработчик</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">Интелекс-груп</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28721603?query=java">Senior Android Developer (Vitebsk)</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">Mainsoft</td>
        <td class="salary"></td>
 </tr>
      <tr class="vacancy">
        <td class="title"><a href=" https://hh.ru/vacancy/28611925?query=java">Java-разработчик</a></td>
        <td class="city">Витебск</td>
        <td class="companyName">ООО ГудСофт</td>
        <td class="salary"></td>
 </tr>
 </table> 
</body>
</html>